<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Who to Follow</p>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0Izf-I88Bui6VPBW7qC6qSukFDbl6_Sukcw&usqp=CAU">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong>
                        <small>@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0Izf-I88Bui6VPBW7qC6qSukFDbl6_Sukcw&usqp=CAU">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong>
                        <small>@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0Izf-I88Bui6VPBW7qC6qSukFDbl6_Sukcw&usqp=CAU">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>John Smith</strong>
                        <small>@johnsmith</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    </nav>
    
    <div class="panel-block"></div>
</div>